name: Build APK

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Build APK
      run: |
        sudo apt update
        sudo apt install -y python3-pip openjdk-11-jdk
        pip install buildozer
        buildozer android debug
        
    - name: Upload APK
      uses: actions/upload-artifact@v4    # <--- Только v4!
      with:
        name: app
        path: bin/*.apk